{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["@babel/plugin-proposal-class-properties"],
    [
      "@babel/plugin-transform-runtime",
      {
        // "absoluteRuntime": false,
        "corejs": 3
        // "version": "7.22.6"
      }
    ],
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "config": "./app/config",
          "controllers": "./app/controllers",
          "helpers": "./app/helpers",
          "models": "./app/models",
          "services": "./app/services",
          "routes": "./app/v1/routes"
        }
      }
    ]
  ]
}
